@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 13% 13%;
    --card: 0 0% 100%;
    --card-foreground: 220 13% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 13%;
    --primary: 213 90% 10%; /* Azul escuro principal - #06182C */
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 174 58% 55%; /* Ciano para detalhes - #4FD1C5 */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 259 81% 69%; /* Lilás para gráficos/destaques - #7B61FF */
    --chart-2: 174 58% 55%; /* Ciano */
  }

  .dark {
    --background: 213 90% 10%; /* Azul escuro principal - #06182C */
    --foreground: 0 0% 100%;
    --card: 213 80% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 213 90% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 213 90% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 174 58% 55%; /* Ciano */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 174 58% 55%;
    --chart-1: 259 81% 69%; /* Lilás */
    --chart-2: 174 58% 55%; /* Ciano */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
